<div class="container">
    <h3><strong>Argumentos de entrada:</strong> {{entryArgs}}</h3>
    <h3><strong>Plataforma:</strong> {{platform}}</h3>
    <h3><strong>Versión de Node: </strong>{{versionNode}}</h3>
    <h3><strong>Memoria total reservada:</strong> {{memory}}</h3>
    <h3><strong>Path de ejecución:</strong> {{path}}</h3>
    <h3><strong>Process ID:</strong> {{processID}}</h3>
    <h3><strong>Directorio:</strong> {{dir}}</h3>
</div>